extends ../layout
block content
  h1 #{t(title)}: #{author.name()}
  p #{authorBirthDate} - #{authorDeathDate}
  if authorBooks.length
    p #[strong #{t('author.message.deleteWarning')}]
    div(style='margin-left:20px;margin-top:20px')
    h4 Books
    each book in authorBooks
      dt
        a(href=book.url()) #{book.title}
      dd #{book.summary}
  else
    p #{t('author.message.deleteConfirm')}

    form(method='POST')
      div.form-group
        input#authorid.form-control(type='hidden', name='authorId', value=author.id)
      
      button.btn.btn-primary(type='submit') #{t('author.message.delete')}
