extends ../layout

block content
  h1 #{t(title)}
  if authors.length
    ul 
      each val, index in authors 
        li 
          a(href=val.url()) #{val.name()}   
          | (#{authorBirthDates[index]} - #{authorDeathDates[index]})

  else
    p #{t('author.message.emptyAuthorList')}
