extends ../layout
block content
  h1 Genre: #{genre.name}
  p #[strong #{t('genre.message.books')} ] 
  if genreBooks.length !== 0
    each val, index in genreBooks
      a(href=val.url()) #{val.title}
      p #{val.summary}
  else
    p #{t('genre.message.emptyBookList')}

  hr
  p
    a(href=genre.url()+'/delete') #{t('genre.message.delete')}
