doctype html
html(lang='en')
 head
    title #{t(title)}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    script(src="/scripts/slim.min.js")
    script(src="/scripts/bootstrap.min.js")
    link(rel='stylesheet' , href='/stylesheets/style.css')
 body
    div(class='container-fluid')
      div(class='row')
        // Sidebar
        div(class='col-md-2 ')
          block sidebar
            ul(class='sidebar-nav')
              li
                a(href='/') #{t('sidebar.name')}
              li
                a(href='/books') #{t('sidebar.book')}
              li
                a(href='/authors') #{t('sidebar.author')}
              li
                a(href='/genres') #{t('sidebar.genre')}
              li
                a(href='/book-instances') #{t('sidebar.bookInstance')}
              hr
              li
                a(href='/authors/create') #{t('sidebar.authorCreate')}
              li
                a(href='/genres/create') #{t('sidebar.genreCreate')}
              li
                a(href='/books/create') #{t('sidebar.bookCreate')}
              li
                a(href='/book-instances/create') #{t('sidebar.bookInstanceCreate')}
              li
                a(href='?locale=en') #{t('sidebar.english')} | 
                a(href='?locale=vi') #{t('sidebar.vietnamese')}
        // Content
        div(class='col-md-9')
          block content

    div(id='errorModal', class='modal fade', tabindex='-1', role='dialog', aria-labelledby='errorModalLabel', aria-hidden='true')
      div(class='modal-dialog modal-dialog-centered')
        div(class='modal-content')
          div(class='modal-header')
            h5(class='modal-title', id='errorModalLabel') #{t('home.error')}
            button(type='button', class='close', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          div(class='modal-body')
            p #{errors?t(errors[0]):''}
          div(class='modal-footer')
            button(type='button', class='btn btn-secondary', data-dismiss='modal') #{t('home.close')}
            
    script.
      // Script to display modal if errors exist
      document.addEventListener('DOMContentLoaded', function() {
        const errors = '#{errors}'; // Get errors from backend
        if (errors) {
          $('#errorModal').modal('show'); // Show modal if errors exist
        }
      });
