doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1' )
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    script(src="/scripts/slim.min.js")
    script(src="/scripts/bootstrap.min.js")
    link(rel='stylesheet' , href='/stylesheets/style.css' )
  body
    div(class='container-fluid' )
      block sidebar
        ul(class='sidebar-nav' )
          li
            a(href='/') #{t('sidebar.name')}
          li
            a(href='/books') #{t('sidebar.book')}
          li
            a(href='/authors') #{t('sidebar.author')}
          li
            a(href='/genres') #{t('sidebar.genre')}
          li
            a(href='/book-instances') #{t('sidebar.bookInstance')}
          hr
          li
            a(href='/authors/create' )  #{t('sidebar.authorCreate')}
          li
            a(href='/genres/create' )  #{t('sidebar.genreCreate')}
          li
            a(href='/books/create' )  #{t('sidebar.bookCreate')}
          li
            a(href='/book-instances/create' )  #{t('sidebar.bookInstanceCreate')}
          li
            a(href='?locale=en') #{t('sidebar.english')} | 
            a(href='?locale=vi') #{t('sidebar.vietnamese')}
      block content

