extends ../layout
block content
  h1 #{t(title)}: #{book.title}
  p #[strong #{t('book.message.author')}: ] 
    |
    a(href=book.author.url()) #{book.author.name()}
  p #[strong #{t('book.message.genres')}: ]
  if bookGenres.length !== 0
    each val, index in bookGenres
      a(href=val.url()) #{val.name}
      if index < bookGenres.length - 1
        |,
  else
    p #{t('book.message.noGenres')}
  if bookInstances.length !== 0
    p #[strong #{t('author.message.deleteWarning')}]
    each val in bookInstances
      hr
      if val.status==='Available'
        p.text-success #{t('bookInstance.status.available')}
      else if val.status==='Maintenance'
        p.text-danger #{t('bookInstance.status.maintenance')}
      else
        p.text-warning #{t('bookInstance.status.loaned')}
      p #[strong #{t('bookInstance.message.imprint')}:] #{val.imprint}
      if val.status!=='Available'
        p #[strong #{t('bookInstance.message.dueBack')}:] #{val.dueBack}
      p #[strong Id: ]
        |
        a(href=val.url()) #{val.id}
  else
    p #{t('book.message.deleteConfirm')}

    form(method='POST')
      div.form-group
        input#authorid.form-control(type='hidden', name='bookId', value=book.id)
      
      button.btn.btn-primary(type='submit') #{t('book.message.delete')}
