extends ../layout

block content
  h1 #{t(title)}
  if books.length
    ul 
      each book in books 
        li 
          a(href=book.url()) #{book.title} 
          | (#{book.author.name()})

  else
    p #{t('book.title.emptyBookList')}
