extends ../layout

block content
  h1 #{t(title)}
  if bookInstances.length 
    ul 
      each val, index in bookInstances 
        li 
          a(href=val.url()) #{val.book.title}: #{val.imprint} 
          | - 
          if val.status === BOOK_INSTANCE_STATUS.AVAILABLE
            span.text-success #{t('bookInstance.status.available')} 
          else if val.status === BOOK_INSTANCE_STATUS.LOANED
            span.text-warning #{t('bookInstance.status.loaned')} 
          else if val.status === BOOK_INSTANCE_STATUS.MAINTENANCE
            span.text-danger #{t('bookInstance.status.maintenance')} 
          else
            span #{val.status}
          if val.status != BOOK_INSTANCE_STATUS.AVAILABLE
            span (#{t('bookInstance.message.dueBack')}: #{dueDates[index]})

  else
    p #{t('bookInstance.message.emptyBookInstanceList')}
